.particles-bottom-light,
.particles-bottom-dark {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.particles-bottom-light {
    bottom: 0;
    height: 50%;
    z-index: 0;
}

.particles-top-light {
    top: 0;
    height: 50%;
    z-index: 0;
}

.particles-bottom-dark {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    pointer-events: none;
}

.particles-top-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    pointer-events: none;
}

.particles-full {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}


#particles-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    pointer-events: none;
}